* {
  margin: 0;
  box-sizing: border-box;
}
.App {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.signup {
  background-color: white;
  width: 35em;
  height: 35em;
  position: relative;
  border-radius: 1em;
  box-shadow: 0 0.188em 1.55em rgb(100, 156, 156);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.signup h1 {
  margin-top: 1em;
}

.signup-btn {
  width: 40%;
  height: 3em;
  background-color: rgb(87, 194, 252);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  border-radius: 0.25em;
  cursor: pointer;
  font-size: large;
  color: white;
}
.signup-btn:hover {
  transform: scale(1.1);
}
.signup-popup {
  position: absolute;
  height: 13em;
  width: 25em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0.25em;
  background-color: black;
  color: white;
  transform: scale(1);
  transition: 1.5s;
}
.hide {
  position: absolute;
  transform: scale(0);
}
.input p {
  margin: 1.2em;
}
